[2025-08-07 21:33:16,223] INFO - ChatAPI - gpt.py: __init__ - 159: Using API Base: https://api.openai.com/v1/chat/completions; API Key: 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
[2025-08-07 21:33:16] INFO - gpt.py: __init__ - 159: Using API Base: https://api.openai.com/v1/chat/completions; API Key: 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
[2025-08-07 21:33:16,223] INFO - ChatAPI - gpt.py: __init__ - 159: Using API Base: https://api.openai.com/v1/chat/completions; API Key: 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
[2025-08-07 21:33:16] INFO - gpt.py: __init__ - 159: Using API Base: https://api.openai.com/v1/chat/completions; API Key: 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
