import json

with open('/opt/nas/p/mm/ie_env/cmx/HONOR_TEST3/datasets/eval_data/tmp/OS-Atlas-mobile/aw_mobile.json','r') as f:
    data = json.load(f)
    for item in data:
        print(item.keys()) # img_filename 和 elements
        for element in item['elements']:
            print(element.keys())
        break

ids = []
with open('/opt/nas/p/mm/ie_env/cmx/HONOR_TEST3/datasets/Os-Atlas-mobile/OS-Atlas-mobile.jsonl','r',encoding='utf-8') as f:
    for line in f:
        data = json.loads(line)
        ids.append(data['id'])
        pass
print(ids)
print(len(ids))
